@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --stop1-rgb: 147, 49, 102;
  /* #933166 */
  --stop2-rgb: 83, 42, 84;
  /* #532A54 */
  --stop3-rgb: 52, 38, 75;
  /* #34264B */
  --stop4-rgb: 36, 37, 71;
  /* #242547 */
  --stop5-rgb: 20, 35, 66;
  /* #142342 */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to left,
      rgb(var(--stop1-rgb)) 0%,
      rgb(var(--stop2-rgb)) 40%,
      rgb(var(--stop3-rgb)) 65%,
      rgb(var(--stop4-rgb)) 85%,
      rgb(var(--stop5-rgb)) 100%);
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* or use cover depending on your requirement */
}

.section-names {
  @apply text-5xl border-b-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

/* Hide scrollbar for FireFox */
html {
  scrollbar-width: none;

  /* Smooth section navigation */
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 6rem);
}